
.container {
    margin-top: 50px;
}

.grid {
    margin-top: 50px;
}

.mat-mdc-card {
    min-height: 340px;
}

.mat-mdc-card-header {
    padding: 20px;
}

.mat-mdc-card-title {
    color: orange;
    font-weight: 700;
}

.mat-mdc-card-subtitle {
    margin-top: 10px;
}

.mat-mdc-card-content {
    color: white;
    padding: 10px;
}